h5 {
    margin-bottom: 0;
    font-weight: 600;
}

p {
    margin-top: 0;
    margin-bottom: 0;
}

.degree {
    display: flex;
    justify-content: space-between;
}

#summary,
#experience,
#education,
#skills,
#certifications,
#projects,
#publications,
#volunteer-experience,
#additional-info {
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    font-weight: bold;
}

#full-name {
    font-size: 2.5vw;
    font-family: Arial, Helvetica, sans-serif;
    padding-bottom: 0.5vh;
    font-weight: bold;
}

#name-and-title {
    padding: 1rem;
    background-color: orange;
}

.top-left-triangle {
    width: 0;
    height: 0;
    border-top: 2vw solid orange;
    border-right: 2vw solid transparent;
}

#title {
    font-size: 1.5vw;
    padding-bottom: 10px;
}

#contact-info {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    /* vertical alignment */
}

#contact-info .contact-item {
    display: inline-flex;
    /* align icon + text */
    align-items: center;
    gap: 0.5rem;
    /* space between icon and text */
    padding-left: 1rem;
    /* space between items */
}

#contact-info mat-icon,
#contact-info i {
    font-size: 1.2rem;
    /* consistent sizing */
    color: orange;
    /* your icon color */
    margin: 0;
    /* reset margins */
}

.work-dates,
.job-title {
    font-weight: bold;
}

.section-container {
    display: flex;
    padding-bottom: 1em;

}

.col-1 {
    width: 20%;
}

.col-2 {
    width: 80%;
}

ul {
    margin-top: 0;
}

#skills-section div ul {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    .skill-item {
        width: 50%;
    }
}

.job {
    display: flex;
    justify-content: space-between;
}