.login-container {
    width: 20vw;
    margin: auto;
    padding: 2rem;
    border: 1px solid #ccc;
    border-radius: 8px;
    margin-top: 10em;
    background-color: aliceblue;
}

.auth-links a {
    margin: 0 0.5rem;
    text-decoration: none;
    color: var(--mat-sys-primary);
}

.auth-links a:hover {
    text-decoration: underline;
}

mat-form-field {
    width: 20vw;
}