table,
mat-paginator {
    width: 95%;
    margin: auto;
    padding: 2rem;
}

.mat-mdc-row:nth-child(odd) {
    background-color: var(--mat-sys-primary-container);
    color: var(--mat-sys-on-primary-container)
}

.resume-table-header {
    margin-left: 2em;
    margin-right: 2em;
    margin-top: 1em;
    display: flex;
    justify-content: space-between;
}

table {
    width: 100%;
    table-layout: fixed;
}

td,
th {
    border: 1px solid currentColor;
}

.mat-mdc-header-row {
    background-color: var(--mat-sys-primary);
    color: var(--mat-sys-on-primary)
}

.mat-column-summary {
    overflow: hidden;
    width: 50%;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-style: italic;
}