table,
mat-paginator {
    width: 95%;
    margin: auto;
    padding: 2rem;
}

.mat-mdc-row:nth-child(odd) {
    background-color: var(--mat-sys-primary-container);
    color: var(--mat-sys-on-primary-container)
}

.resume-table-header {
    margin-left: 2em;
    margin-right: 2em;
    margin-top: 1em;
    display: flex;
    justify-content: space-between;
    color: var(--mat-sys-on-primary-container)
}

table {
    width: 100%;
    table-layout: fixed;
}

td,
th {
    border: 1px solid currentColor;
}

.mat-mdc-header-row {
    background-color: var(--mat-sys-primary);
    color: var(--mat-sys-on-primary)
}

.mat-column-username,
.mat-column-template {
    width: 10%;
}

.mat-column-summary {
    overflow: hidden;
    width: 30%;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-style: italic;
}

td.mat-column-action {
    text-align: center;
}

td.mat-column-template {
    text-transform: capitalize;
}

td.mat-column-lastName {
    font-weight: bold;
}

#loading-spinner {
    padding-top: 30vh;
}

.resume-table {
    .mat-mdc-icon-button {
        width: 28px !important;
        height: 28px !important;
        line-height: 28px !important;
        padding: 1px !important;

        .mat-icon {
            font-size: 18px !important;
        }
    }
}