<h1 class="home-page-header">Welcome to ProFiler</h1>
<div class="home-page-container">
    <section>
        <p>Your one-stop solution for creating and managing resumes.</p>
        <p>Land Your Dream Job: Create a Professional Resume in Minutes.</p>
        <p>Get started by filling in your information!</p>
        <p>Select a template below for a demo {{buttonsDisabled? 'once buttons are enabled':''}}.</p>
        <p>Current Selection: <span class="template-name">{{dynamicFormData.template?.toUpperCase()}}</span></p>
        <div class="template-buttons">
            @for (template of templates; track $index; let i = $index) {
            <button mat-raised-button type="button" (click)="demoTemplate(template)" [disabled]="buttonsDisabled"
                [style.--i]="i">
                {{ template.name }}
            </button>
            }
        </div>
    </section>
    <app-preview-resume>
        <app-resume-details [resumeData]="dynamicFormData"></app-resume-details>
    </app-preview-resume>
</div>