h5 {
    margin-bottom: 0;
    font-weight: 600;
}

p {
    margin-top: 0;
    margin-bottom: 0;
}

.degree {
    display: flex;
    justify-content: space-between;
}

#full-name,
#summary,
#experience,
#education,
#skills,
#certifications,
#projects,
#publications,
#volunteer-experience,
#additional-info {
    font-family: Arial, Helvetica, sans-serif;
    color: var(--mat-sys-on-primary-container);
}

#full-name {
    font-size: 2.5vw;
    font-family: Arial, Helvetica, sans-serif;
    padding-bottom: 10px;
}

#title {
    font-size: 1.5vw;
    padding-bottom: 10px;
    font-weight: bold;
}

#contact-info {
    margin-bottom: 2rem;
    text-align: left;
    font-size: 1vw;
}

.work-dates,
.job-title {
    font-weight: bold;
}

.section-container {
    display: flex;
    padding-bottom: 1em;

}

.col-1 {
    width: 20%;
}

.col-2 {
    width: 80%;
}

ul {
    margin-top: 0;
}

#skills-section div ul {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    .skill-item {
        width: 50%;
    }
}

.job-title {
    display: flex;
    justify-content: space-between;
}