h5 {
    margin-bottom: 0;
    font-weight: 600;
}

p {
    margin-top: 0;
    margin-bottom: 0;
}

.degree {
    font-weight: bold;
}

.resume-details-container {
    padding: 5rem;
    background-color: var(--mat-sys-background);
    color: var(--mat-sys-on-background);
    margin-right: 2rem;
    margin-left: 2rem;
    font-size: 1.25vw;
    scale: inherit;
}

#full-name,
#summary,
#experience,
#education,
#skills,
#certifications,
#projects,
#publications,
#volunteer-experience,
#additional-info {
    font-weight: bold;
    padding-top: 1em;
}

#contact-info {
    text-align: center;
}

#full-name {
    text-transform: uppercase;
    font-size: 2.5vw;
    text-align: left;
    padding-bottom: 10px;
}

#title {
    text-align: left;
    font-size: 1.5vw;
    padding-bottom: 10px;
    font-weight: bold;
}

#location,
#contact-info {
    text-align: right;
    font-size: 1vw;
    padding-bottom: 10px;
}

.job-role,
.employer {
    font-weight: bold;
}

#skills-section {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.skill-item {
    width: 50%;
}

ul {
    margin-top: 0;
}