.resume-form {
    padding-left: 2rem;
    padding-right: 2rem;
}

.show-preview {
    width: 40%;
}

.hide-preview {
    width: 95%;
}

.resume-form-preview-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

mat-form-field {
    width: 100%;
}

.start-date,
.end-date,
.firstName,
.lastName,
.phoneNumber,
.email,
.linkedIn,
.website,
.city,
.state,
.employer,
.title,
.institution,
.degree,
.fieldOfStudy,
.graduationDate {
    width: 49%;
}

.start-date,
.firstName,
.phoneNumber,
.linkedIn,
.city,
.employer,
.institution,
.fieldOfStudy {
    margin-right: 2%;
}

.nested-delete {
    float: right;
}

mat-form-field.deeply-nested {
    width: 90%;
    margin-left: 2%;
}

button.deeply-nested {
    margin-left: 2%;
}

button.nested-add {
    width: fit-content;
    margin-left: 2%;
}

mat-panel-title.nested-add {
    margin-left: 1%;
}

.description-form,
.award-form,
.skill-form {
    display: flex;
}

.mat-mdc-card {
    background-color: var(--mat-sys-surface-container);
    color: var(--mat-sys-on-surface-container)
}

#preview-mode {
    display: flex;
    // justify-content: space-between
}

// .preview {
//     border: 1px solid black;
//     transform: scale(0.5);
//     transform-origin: 50% 0;
//     width: 200%;
//     padding: 3rem;
//     border-radius: 10px;
// }

.preview-btn {
    margin-top: 1rem;
    margin-right: 2rem;
}