<div class="resume-details-container" [id]="resumeData?.id">
    <header>
        <p id="full-name">{{resumeData?.firstName}} {{resumeData?.lastName}}</p>
        @if(resumeData?.title) {<p id="title">{{resumeData?.title}}</p>}
    </header>
    <div id="resume-body">
        <div class="left-column">
            <section id="summary-section">
                <p id="summary">PROFESSIONAL SUMMARY</p>
                <p>{{resumeData?.summary}}</p>
            </section>
            <section id="experience-section">
                <p id="experience">WORK HISTORY</p>
                <div class="section-container" *ngFor="let job of resumeData?.experience">
                    <p class="job-employer">{{job.title}}</p>
                    <p class="job-location">{{job.employer}} | {{job.city}}, {{job.state}} |
                        {{formatDate(job.startDate)}} -
                        {{formatDate(job.endDate)}}</p>
                    <ul>
                        <li *ngFor="let desc of job.description">{{desc}}</li>
                    </ul>
                </div>
            </section>
            @if(resumeData?.volunteerExperience?.length) {
            <section id="volunteer-experience-section">
                <p id="volunteer-experience">VOLUNTEER EXPERIENCE</p>
                <p *ngFor="let experience of resumeData?.volunteerExperience">{{experience}}</p>
            </section>
            }
            @if(resumeData?.projects?.length) {
            <section id="projects-section">
                <p id="projects">PROJECTS</p>
                <p *ngFor="let project of resumeData?.projects">{{project}}</p>
            </section>
            }
        </div>
        <div class="right-column">
            <section id="contact-info">
                <p id="contact">CONTACT</p>
                @if(resumeData?.phoneNumber){
                <p class="contact-row">
                    <mat-icon>phone_enabled</mat-icon>
                    {{ resumeData?.phoneNumber }}
                </p>
                }
                <p class="contact-row">
                    <mat-icon>mail_outline</mat-icon>
                    {{ resumeData?.email }}
                </p>
                @if(resumeData?.linkedIn){
                <p class="contact-row">
                    <i class="fab fa-linkedin"></i>&nbsp;
                    {{ resumeData?.linkedIn }}
                </p>
                }
                @if(resumeData?.website){
                <p class="contact-row">
                    <mat-icon>web</mat-icon>
                    {{ resumeData?.website }}
                </p>
                }
                @if(resumeData?.city && resumeData?.state){
                <p class="contact-row">
                    <mat-icon>location_on</mat-icon>
                    {{ resumeData?.city }}, {{ resumeData?.state }}
                </p>
                }
            </section>
            <section id="skills-section">
                <p id="skills">SKILLS</p>
                <div class="section-container">
                    <div class="col-1"></div>
                    <ul class="col-2">
                        <li class="skill-item" *ngFor="let skill of resumeData?.skills">{{skill}}</li>
                    </ul>
                </div>
            </section>
            <section id="education-section">
                <p id="education">EDUCATION</p>
                <div class="section-container" *ngFor="let edu of resumeData?.education">
                    <div class="col-1"></div>
                    <div class="col-2">
                        <p><b>{{edu.degree}}:</b></p>
                        <p>{{edu.fieldOfStudy}}, {{formatDate(edu.graduationDate)}}</p>
                        <p>{{edu.institution}}</p>
                        <p>{{edu.city}}, {{edu.state}}</p>
                        <p>{{edu.descriptionEdu}}</p>
                        <ul>
                            <li *ngFor="let award of edu.awards">{{award}}</li>
                        </ul>
                    </div>
                </div>
            </section>
            @if(resumeData?.certifications?.length) {
            <section id="certifications-section">
                <p id="certifications">CERTIFICATIONS</p>
                <p *ngFor="let cert of resumeData?.certifications">{{cert}}</p>
            </section>
            }
            @if(resumeData?.publications?.length) {
            <section id="publications-section">
                <p id="publications">PUBLICATIONS</p>
                <p *ngFor="let publication of resumeData?.publications">{{publication}}</p>
            </section>
            }
            @if(resumeData?.additionalInfo) {
            <section id="additional-info-section">
                <p id="additional-info">ADDITIONAL INFORMATION</p>
                <p class="col-2">{{resumeData?.additionalInfo}}</p>
            </section>
            }
        </div>
    </div>
</div>