.signup-container {
    width: 300px;
    margin: auto;
    padding: 2rem;
    border: 1px solid #ccc;
    border-radius: 8px;
}

// input {
//     display: block;
//     width: 100%;
//     margin-bottom: 1rem;
// }

.error {
    color: var(--mat-error-color, red);
    margin-top: 1rem;
}