<div class="forgot-password-container">
    <h2>Forgot Password</h2>
    <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">
        <mat-form-field>
            <mat-label>Email</mat-label>
            <input matInput type="email" formControlName="email" />
            @if(forgotPasswordForm.controls['email'].errors && forgotPasswordForm.controls['email'].errors['required'])
            {
            <mat-error>Email is required.</mat-error>
            }
            @if(forgotPasswordForm.controls['email'].errors && forgotPasswordForm.controls['email'].errors['email']) {
            <mat-error>Invalid email format.</mat-error>
            }
        </mat-form-field>

        <div>
            <button mat-flat-button type="submit" [disabled]="forgotPasswordForm.invalid">Reset Password</button>
            @if(resetError) {
            <p *ngIf="resetError" class="error">{{ resetError }}</p>
            }
            @if(resetSuccess) {
            <p *ngIf="resetSuccess" class="success">{{ resetSuccess }}</p>
            }
        </div>
    </form>
</div>