<div class="resume-details-container" [id]="resumeData?.id">
    <h4>{{resumeData?.firstName?.toUpperCase()}} {{resumeData?.lastName?.toUpperCase()}}</h4>
    <p>{{resumeData?.email}} | {{resumeData?.phoneNumber}} | {{resumeData?.linkedIn}} | {{resumeData?.website}}</p>
    <h5>SUMMARY</h5>
    <hr />
    <p>{{resumeData?.summary}}</p>
    <h5>EXPERIENCE</h5>
    <hr />
    <div *ngFor="let job of resumeData?.experience">
        <p>{{job.employer}}, {{job.city}}, {{job.state}}</p>
        <div class="job-title">
            <p>{{job.title}}</p>
            <p>{{job.startDate}} - {{job.endDate}}</p>
        </div>
        <ul>
            <li *ngFor="let desc of job.description">{{desc}}</li>
        </ul>
    </div>
    <h5>EDUCATION</h5>
    <hr />
    <div *ngFor="let edu of resumeData?.education">
        <p>{{edu.institution}}, {{edu.city}}, {{edu.state}}</p>
        <div class="degree">
            <p>{{edu.degree}} in {{edu.fieldOfStudy}}</p>
            <p>Graduated: {{edu.graduationDate}}</p>
        </div>
        <p>{{edu.descriptionEdu}}</p>
        <ul>
            <li *ngFor="let award of edu.awards">{{award}}</li>
        </ul>
    </div>
    <h5>SKILLS</h5>
    <hr />
    <ul>
        <li *ngFor="let skill of resumeData?.skills">{{skill}}</li>
    </ul>
</div>