<div>
    <h1 class="resume-header">
        <span [matBadge]="resumes.length" matBadgeOverlap="false">User Resumes</span>
    </h1>
    @if(isLoading) {
    <div id="loading-spinner">
        <mat-spinner class="loading-spinner" diameter="200"></mat-spinner>
    </div>
    } @else if (resumes.length === 0) {
    <div class="resume-header">
        <p>No resumes found. Please create a new resume.</p>
    </div>
    }
    <div *ngFor="let resume of resumes" class="resume-card">
        <app-resume-tool-header [resume]="resume"></app-resume-tool-header>
        <div [id]="getResumeDocumentId(resume.id ?? '')" class="resume-padding">
            <app-resume-details [resumeData]="resume"></app-resume-details>
        </div>
    </div>
</div>